*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul {
    
    width: 100% ;
    background-color: black;
    height: auto;
    text-align: center;
}
h1{
    text-align: center;
    margin: 25px;
    color: red;
}
ul li {
    display: inline-block;
    color: white;
    padding: 25px;
}
.wed1{
    display: inline-block;
    width: 30%;
    margin: 20px;
    
}
 .wed2
  {
    display: inline-block;
    width: 30%;
    margin: 20px;
}
.wed3{
    display: inline-block;
    width: 30%;
    margin: 20px;
}

.wed1 img {
    width: 100% ;
    height: 400px;
}
.wed1 h2 {
    text-align: center;
    margin: 10px 0 ;
    
    
}
.wed1 p {
    width: 100%;
    margin: 10px 0;
}
.wed2 img{
    width: 100%;
    height: 400px;
}
.wed2
 h2{
    text-align: center;
    margin: 10px 0 ;
}
.wed2
 p {
    width: 100%;
    margin: 10px 0;
}
.wed3 img {
    width: 100%;
    height: 400px;
}
.wed3 h2{
    text-align: center;
    margin: 10px 0 ;
}
.wed3 p {
    width: 100%;
    margin: 10px 0;
}


